:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	/* line-height: 1.5; */
	font-weight: 400;

	/* color-scheme: light dark; */
	color: #402e32;
	background-color: #ffedcb;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* border: 3px solid black; */
}

h1 {
	font-size: 60px;
	text-align: center;
	margin-bottom: 0px;
}
